body {
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 95%;
    margin: auto;
    padding: 10px;
    background-color: rgb(243, 243, 243);
    height: 100%;
}
ul{
    list-style: none;
    padding:0;
    /* display: inline-block; */
}
ul li{
    float: left;
}
ul li a{
    text-decoration: none;
}
.links{
    float: right;
}
.btn{
    background-color: rgb(5, 5, 5);
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
}
#user{
    margin: 8px;
    color: rgb(5, 5, 53);
}